#mapid {
    height: 80vh;
    width: 100%;
    border-radius: 10px;
}
.modal-dialog {
  position: absolute;
  top: 50px;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}
.modal-content {
    background-color: rgba(52, 51, 50, 1);
}
#closebtn {
    color: white;
    border-color: white;
    box-shadow: none;
}
#closebtn:hover {
    color: rgb(24, 190, 255);
    border-color: rgb(24, 190, 255);
    box-shadow: none;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: rgba(52, 51, 50, 1);
    box-shadow: 0 0 15px rgba(0,0,0,0.5);
    border-radius: 5px;
    text-align: left;
}
.info h4 {
    text-align: center;
    margin: 0 0 5px;
    color:white;
}

#panel{
    background-color: rgba(52, 51, 50, 1);
    height: 9%;
    margin-right: 5%;
    border-radius: 10px;
}

.panel2{
    background-color: rgba(52, 51, 50, 1);
    margin: auto;
    display: block;
    border-radius: 10px;
}
.legend {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background-color: rgba(52, 51, 50, 1);
    box-shadow: 0 0 15px rgba(0,0,0,0.8);
    border-radius: 5px;
    text-align: left;
    line-height: 18px;
    color: #FFF;
    display: inline-block;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}