{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/map.css">
<style>
    body {
        /* display: none; */
        background-color: #323639;
/* 
        background-image: url("../static/img/AtlantaBackground.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; */
    }

    .split {
        height: 100%;
        width: 50%;
        position: fixed;
        z-index: 1;
        top: 0;
        overflow-x: hidden;
        padding-top: 20px;
    
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
        transform: translate(0,800px);
        width: 40%;
        padding-right: 50px;
    }
    p.county-info {
        font: 15px "Times New Roman";
        text-align: left;
        text-indent: 35px;
    }

    p.analysis {
        font-size: 15px;
        text-align: left;
        text-indent: 35px;
    }
</style>

{% endblock %}

{% block body %}
<div class="background">
    <div class="container-fluid d-flex w-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto" style="z-index: 1;">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <h3 style="font-weight: 100; margin-top: 0; font-size: 3vh; position: absolute; left: 3%;">Interactive Map/Data:</h3>
                    <a class="nav-link" href="/" id="homeicon"><i class='fas' style="font-size:2.5vh">&#xf015;</i></a>
                    <a class="nav-link" href="/info" id="infoicon"><i class='fas' style="font-size:2.5vh">&#xf46c;</i></a>
                    <a class="nav-link active" href="/map" id="mapicon"><i class='fas fa-globe-americas'
                            style="font-size:2.5vh"></i></a>
                    <a class="nav-link" href="/solutions" id="solicon"><i class='fas' style="font-size:2.5vh">&#xf24e;</i></a>
                    <a class="nav-link" href="/references" id="reficon"><i class='fas' style="font-size:2.5vh">&#xf022;</i></a>
                </nav>
            </div>
        </header>
    </div>
    <div id="fullPage" >
        <div class="section s1" >
                <div class="container-fluid d-flex w-100 p-3 mx-auto flex-column">
                <div class="row justify-content-center">
                    <div class="col-10" >
                        </hr>
                        <div style="height: 100vh; margin-left: 2%; margin-right: 1%; padding-bottom: 10vh;">
                            <div id="mapid"></div>
                            <div id="toggleSelector"></div>
                        </div>
                    </div>
                    <div class="col-2 justify-content-center">
                        <h4 style="font-weight: 100; margin-top: 1%;font-size: 2.5vh;">Modes:</h4>
                        <hr style="height: 0px; width: 40%; margin-top: 0; margin-bottom: 5px;">
                        <div id="panel2 justify-content-center"
                            style="height: auto; align-items: center;text-align: left; margin-left: 30%; font-size: 2vh; ">
                            <div class="form-check">
                                <input onclick="location.href = '/map/default'" class="form-check-input" type="radio"
                                    name="exampleRadios" id="radio1" value="option1" style="height: 2vh;">
                                <label class="form-check-label" for="radio1" style="font-size: 1.75vh; font-weight: 100;">
                                    Default
                                </label>
                            </div>
                            <div class="form-check">
                                <input onclick="location.href = '/map/water'" class="form-check-input" type="radio" name="exampleRadios"
                                    id="radio2" value="option2"  style="height: 2vh;">
                                <label class="form-check-label" for="radio2" style="font-size: 1.75vh; font-weight: 100;">
                                    Water Quality
                                </label>
                            </div>
                            <div class="form-check">
                                <input onclick="location.href = '/map/air'" class="form-check-input" type="radio" name="exampleRadios"
                                    id="radio3" value="option3"  style="height: 2vh;">
                                <label class="form-check-label" for="radio3" style="font-size: 1.75vh; font-weight: 100;">
                                    Air Quality
                                </label>
                            </div>
                            <div class="form-check">
                                <input onclick="location.href = '/map/wealth'" class="form-check-input" type="radio"
                                    name="exampleRadios" id="radio4" value="option4"  style="height: 2vh;">
                                <label class="form-check-label" for="radio4" style="font-size: 1.75vh; font-weight: 100;">
                                    Wealth
                                </label>
                            </div>
                            <div class="form-check">
                                <input onclick="location.href = '/map/minority'" class="form-check-input" type="radio" name="exampleRadios" id="radio5"
                                    value="option5" style="height: 2vh;">
                                <label class="form-check-label" for="radio5" style="font-size: 1.75vh; font-weight: 100;">
                                    Race
                                </label>
                            </div>
                            <!-- <div class="form-check">
                                <input onclick="location.href = '/map/race'" class="form-check-input" type="radio" name="exampleRadios"
                                    id="radio6" value="option6"  style="height: 2vh;">
                                <label class="form-check-label" for="radio6" style="font-size: 1.75vh; font-weight: 100;">
                                    Race/Ethnicity
                                </label>
                            </div> -->
                        </div>
                        <div style="padding-top: 3vh; margin-bottom: 3vh;">
                            <h4 style="font-weight: 100;font-size: 2.5vh;">Toggle: <a id="attr"><i class='fas fa-info-circle'></i></a></h4>
                            <hr style="height: 0px; width: 40%; margin-top: 0; margin-bottom: 5px;">
                            <div class="checkboxes" style="text-align: left; margin-left: 30%">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check1">
                                    <label class="form-check-label" for="defaultCheck1" style="font-size: 1.75vh; font-weight: 100;">
                                        Air Measurements
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check2">
                                    <label class="form-check-label" for="defaultCheck2" style="font-size: 1.75vh; font-weight: 100;">
                                        Landfills
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check3">
                                    <label class="form-check-label" for="defaultCheck3" style="font-size: 1.75vh; font-weight: 100;">
                                        Incinerators
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="check4">
                                    <label class="form-check-label" for="defaultCheck4" style="font-size: 1.75vh; font-weight: 100;">
                                        Water Disposal
                                    </label>
                                </div>
                                <!-- <div style="font-size: 1vh;">Toggle Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
                                        href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
                            </div>
                        </div>
                        <div id="infodiv" style="padding-top: 2vh; padding-left: 2vh; padding-right: 2vh;border-radius: 10px; ">
                            <h3 style="font-weight: 100;font-size: 2vh; margin: 0;">Disclaimer</h3>
                            <p id="info" style="font-size: 1.25vh;font-weight: 100;">

                            </p>
                        </div>
                        <div id="start" style="margin-top: 7.5vh;font-weight: 100;" class="animate-flicker">
                            <h3 style="font-weight: 100;margin-bottom: 0; font-size: 2vh;">Scroll for Data Analysis</h3>
                            <a  style="font-size: 2vh; border: none; margin-top: 0;">
                                <img src="../static/img/arrow.png" style="height: 5vh;" >
                            </a>

                        </div>
                    </div>
                </div>
                </div>
        </div>
        <div class="section s2" style="padding-left: 50px;">
            <div class="container-fluid d-flex w-100 p-3 mx-auto flex-column">
            <div class="row justify-content-center">
                <div class="col-1">
                    <div>
                        <button id="atlenvjustice" class="btn btn-sm btn-secondary blank"
                            style="margin-top: 1vh; width: 12vh;font-size: 1.5vh;">ATLEnvJustice <br/> Index
                        <button id="wealth-water" class="btn btn-sm btn-secondary blank"
                            style="margin-top: 1vh; width: 12vh;font-size: 1.5vh;">Wealth
                            vs <br/>Water Quality</button>
                        <button id="race-air" class="btn btn-sm btn-secondary blank" style="margin-top: 1vh;width: 12vh;font-size: 1.5vh;">Race
                            vs<br /> Air
                            Quality</button>
                        <button id="race-water" class="btn btn-sm btn-secondary blank"
                            style="margin-top: 1vh;width: 12vh;font-size: 1.5vh;">Race vs<br />
                            Water Quality</button>
                        <button id="wealth-air" class="btn btn-sm btn-secondary blank"
                            style="margin-top: 1vh;width: 12vh;font-size: 1.5vh;">Wealth vs<br />
                            Air Quality</button>

                    </div>
                </div>
                <div class = "col-5 justify-content-center" style="margin-top: 0; padding-top: 0;">
                    <!-- For the Chart Section for now -->
                    <div style="height:100vh; width: 100vh;">
                        <canvas id="dataGraph" height="800" width="800" style="border:solid 0px; background-color: rgba(52, 51, 50, 1); border-radius: 15px; height: 80vh;"></canvas>
                    </div>
                    <script src="https://cdnjs.cloudfare.com/ajax/libs/Chart/2.8.0/Chart.min.js"></script>
                    <script src="../static/js/atlantacounties.js"></script>
                    <script src="../static/js/graph.js"></script>
                </div> 
                <div class="col-6" style="padding-left: 8%;">
                    <h1 style="font-weight: 100; margin-top: 0; font-size: 3vh;">Analysis</h1>
                    <p class="analysis" style="font-size: 1.75vh;">From the ATLEnvJustice graph, we developed our own index to rank the counties: the top right represent the most privileged (best environment / socioeconomic qualities) bottom left represent the most environmentally injust and disadvantaged (worst environment / socioeconomic qualities).
                    </p>
                    <p class="analysis" style="font-size: 1.75vh;">Overall, the data presented on the map and chart display an interesting
                        relationship between socioeconomic factors and environmental quality.
                        Wealth is negatively
                        correlated with both water and air quality, and minority percentage is
                        positively correlated with water and air quality, which is indicated by
                        the negative and positive slopes of the respective regression lines.
                    </p>
                    <p class="analysis" style="font-size: 1.75vh;">
                        From this, we can conclude that poorer counties (counties with lower GDP and Income Per Capita)
                        tend to have worse air quality and water quality then richer counties. Likewise,
                        counties with populations that consist of a higher percentage of minorities tend
                        to have worse air and water quality.
                    </p>
                    <p class="analysis" style="font-size: 1.75vh;">
                        This exposes a deep problem in Atlanta's society. Poorer people, mainly minorites, are being unfairly
                        mistreated. They have no control over the air and water quality in their areas.
                        They are not the ones realeasing carbon dioxide pollutants into the air. They are not
                        the ones dumping contaminants into the nearby water. No, it's the richer, whiter
                        corporations and businesses in their area responsible, and the poorer, less-white
                        populations are suffering because of it. Something must be done about this problem, and,
                        as it turns out, something is starting to be done. There are already many groups advocating for change in policy
                        to combat these effects. Click the link below to learn more about how you can make a difference!
                    </p>
                    <a href="/solutions" class="btn btn-lg btn-secondary" style="font-size: 2vh; font-weight: 100;">Make a Difference!</a>
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">County Information: <h4 id="modal-name"
                            style="color: rgb(24, 190, 255); padding-left: 5px;"> </h4>
                    </h5>
                    <button type="button" id="closebtn" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="county-script" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- <footer class="footer mastfoot mt-auto">
        <div class=" inner">
            <p>Created by <a href="https://github.com/MihirBafna">Mihir Bafna</a> | <a
                    href="https://github.com/brettpietruska">Brett Pietruszka</a> </p>
        </div>
    </footer> -->
</div>
<script>
    var mode = "{{mode}}";
    new fullpage("#fullPage", {
            autoScrolling: true,
            navigation: true,
            navigationPosition: 'left',
            bigSectionsDestination: top,
            // css3: false,
            navigationTooltips: ['Interactive Map', 'Graphs/Data']
        })
    $(document).on('click', '#start', function () {
        fullpage_api.moveSectionDown();
    });
    tippy("#attr",{
        content: "Toggle icons made by FreePik"
    })
    // tippy('#wealth-water', {
    //         content: "Wealth vs. Water Quality",
    //         placement:"right",
    // });
    // tippy('#wealth-air', {
    //     content: "Wealth vs. Air Quality",
    //     placement: "right",
    // });
    // tippy('#race-water', {
    //         content: "Race vs. Water Quality",
    //         placement: "right",
    // });
    // tippy('#race-air', {
    //         content: "Race vs. Air Quality",
    //         placement: "right",
    // });
</script>
<script src="../static/js/atlantacounties.js"></script>
<script src="../static/js/map.js"></script>
{% endblock %}