{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/index.css">
<link rel="stylesheet" href="../static/css/map.css">
<style>
    body {
        /* display: none; */
        background-color: #323639;
        overflow-y: scroll;
/* 
        background-image: url("../static/img/AtlantaBackground.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed; */
    }

    p.county-info {
        font: 15px "Times New Roman";
        text-align: left;
        text-indent: 35px;
    }
</style>

{% endblock %}

{% block body %}
<div class="background">
    <div class="cover-container d-flex w-100 p-3 mx-auto flex-column">
        <header class="masthead">
            <div class="inner">
                <h2 class="masthead-brand">ATLEnvJustice</h2>
                <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link" href="/">Home</a>
                    <a class="nav-link active" href="/map">Map</a>
                    <a class="nav-link" href="/info">Info</a>
                    <a class="nav-link" href="/solutions">What To Do?</a>
                    <a class="nav-link" href="/references">References</a>
                </nav>
            </div>
        </header>
    </div>
    <div class="row justify-content-center">
        <div class="col-9">
            <h3 style="font-weight: 100; margin-top: 0;">Interactive Map:</h3>
            <hr style="height: 0px; width: 20%; margin-top: 0;"></hr>
            <div style="height: 80%; margin-top: 5px; margin-left: 1%; margin-right: 1%;">
                <div id="mapid"></div>
                <div id="toggleSelector"></div>
            </div>
        </div>
        <div class="col-3" id="toggle">
                <h3 style="font-weight: 100; text-align: center; margin-top: 0;">County Information</h3>
                <hr style="height: 0px; width: 80%; margin-top: 0;" />
                <div id="panel" style="height: 55%;">
                    <div id="county-script" >

                    </div>
                </div>
                <h4 style="font-weight: 100; margin-top: 1%;">Modes:</h4>
                <hr style="height: 0px; width: 40%; margin-top: 0px;" />
                <div class = "row"id="panel2" style="height: 20%; align-items: center; padding: 2%; text-align: left;">
                    <div class = "col-6.5">
                        <div class="form-check">
                            <input onclick="location.href = '/map/default'" class="form-check-input" type="radio" name="exampleRadios"
                                id="radio1" value="option1" checked>
                            <label class="form-check-label" for="radio1">
                                Default
                            </label>
                        </div>
                        <div class="form-check">
                            <input onclick="location.href = '/map/water'" class="form-check-input" type="radio" name="exampleRadios" id="radio2"
                                value="option2">
                            <label class="form-check-label" for="radio2">
                                Water Quality
                            </label>
                        </div>
                        <div class="form-check">
                            <input onclick="location.href = '/map/air'" class="form-check-input" type="radio" name="exampleRadios" id="radio3"
                                value="option3">
                            <label class="form-check-label" for="radio3">
                                Air Quality
                            </label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-check">
                            <input onclick="location.href = '/map/wealth'" class="form-check-input" type="radio" name="exampleRadios"
                                id="radio4" value="option4">
                            <label class="form-check-label" for="radio4">
                                Wealth
                            </label>
                        </div>
                        <div class="form-check">
                            <input onclick="location.href = '/map/race'" class="form-check-input" type="radio" name="exampleRadios" id="radio5"
                                value="option5">
                            <label class="form-check-label" for="radio5">
                                Race/Ethnicity
                            </label>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <footer class="footer mastfoot mt-auto">
        <div class=" inner">
            <p>Created by <a href="https://github.com/MihirBafna">Mihir Bafna</a> | <a
                    href="https://github.com/brettpietruska">Brett Pietruszka</a> </p>
        </div>
    </footer>
</div>
<script>
    var mode = "{{mode}}";
</script>
<script src="../static/js/atlantacounties.js"></script>
<script src="../static/js/map.js"></script>
{% endblock %}