{% extends 'base.html' %}

{% block head %}

<link rel="stylesheet" href="../static/css/index.css">
<style>
    body {
        
        background-image: url("../static/img/hw.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .background{
        width: 100%;
        height: 100%;
        /* background: rgba(49, 62, 73, 0.6); */
        background: rgba(38, 47, 56, 0.7);
        /* background: rgba(0,0,0,0.5); */
    }
    p.solutions-page {
        font: 16px "Times New Roman";
        text-align: left;
        text-indent: 35px;
    }

    h1.title {
        font: 40px "Times New Roman";
        font-weight: bold;
    }

    h1.subtitle {
        font: 20px "Times New Roman";
        font-weight: bold;
        text-align: left;
    }

    a.envlink {
        font: 16px "Times New Roman";
        text-align: left;
        display: block;
    }

</style> 

{% endblock %}

{% block body %}
<div class="background">
    <div class="container-fluid d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="masthead mb-auto" style="z-index: 1;">
            <div class="inner">
                <nav class="nav nav-masthead justify-content-center">
                    <h3 style="font-weight:100;margin-top: 0; font-size: 3vh; position: absolute; left: 3%;">Act On The Injustice:</h3>
                    <a class="nav-link" href="/" id="homeicon"><i class='fas' style="font-size:2.5vh">&#xf015;</i></a>
                    <a class="nav-link" href="/info" id="infoicon"><i class='fas' style="font-size:2.5vh">&#xf46c;</i></a>
                    <a class="nav-link" href="/map" id="mapicon"><i class='fas fa-globe-americas' style="font-size:2.5vh"></i></a>
                    <a class="nav-link active" href="/solutions" id="solicon"><i class='fas' style="font-size:2.5vh">&#xf24e;</i></a>
                    <a class="nav-link" href="/references" id="reficon"><i class='fas' style="font-size:2.5vh">&#xf022;</i></a>
                </nav>
            </div>
        </header>
        <div id="fullPage">
            <div class="section">
                <div class="container-fluid" style="height: 80%; padding-top: 5vh;">
                    <div class="row h-100">
                        <div class="col-3">
                                            
                        </div>
                        <div class="col-6 animate__animated animate__fadeIn">
                            <h1 class="cover-heading" style="font-size: 7vh;"><b><i class='fas'>&#xf24e;</i> What To Do?</b></h1>
                            <p style="font-size: 2vh;">
                                It's one thing to learn and be informed about the injustice, but we need action for actual change. We urge you to get involved, whether that be through social media, the
                                government, or non-profit organizations. We have listed some ways you can help make a difference and combat the
                                environmental racism we see today. Click below to explore.
                            </p>
                            <a id="start" class="btn btn-lg btn-secondary" style="font-size: 1.75vh;">Explore Your Options</a>
                        </div>
                        <div class="col-3">
                        
                        </div>
                    </div>

                </div>
            </div>
            <div class="section">
                <div class="container-fluid" style="height: 80%; padding-top: 10vh;">
                    <div class="row h-100">
                        <div class="col-1">
                
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <h1 class="cover-heading" style="font-size: 7vh;"><b>Through the Government</b></h1>
                            <p style="font-size: 2vh;">
                                Government is one way to create change and combat environmental injustice. Use your voice to elect the officials at
                                the local, state, and federal level that will best help your community fight climate change and environmental
                                justice.
                                Write to your elected officials and let them know what policies you care about and how they can help your community.
                                Below is a list of your local and state elected government officials.
                            </p>
                            <a href="https://en.wikipedia.org/wiki/Category:Politicians_from_Atlanta" class="btn btn-lg btn-secondary" style="font-size: 1.75vh;" target="_blank">Find More Politicians</a>
                            <a id="start" class="btn btn-lg btn-secondary blank" style="font-size: 1.75vh;">Keep Scrolling</a>
                        </div>
                        <div class="col-2">
                        
                        </div>
                        <div class="col-4"  style="padding-top: 5vh;">
                            <div class="list-group">
                                <a href="https://gov.georgia.gov/" class="list-group-item list-group-item-action"target="_blank">Governor - Brian Kemp</a>
                                </a>
                                <a href="https://ltgov.georgia.gov/" class="list-group-item list-group-item-action" target="_blank">Lt. Governor - Geoff Duncan</a>
                                <a href="https://law.georgia.gov/" class="list-group-item list-group-item-action" target="_blank">Attorney General - Chris Carr</a>
                                <a href="https://www.atlantaga.gov/home" class="list-group-item list-group-item-action"target="_blank">Atlanta Mayor - Keisha Bottoms</a>
                                <a href="https://www.georgiapolicy.org/" class="list-group-item list-group-item-action"target="_blank">Georgia Public Policy Foundation</a>

                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
            <div class="section">
                <div class="container-fluid" style="height: 80%;">
                    <div class="row h-100">
                        <div class="col-1">

                        </div>
                        <div class="col-5" style="text-align: left; padding-top: 15vh;">
                            <h1 class="cover-heading" style="font-size: 7vh;"><b>Through Organizations</b></h1>
                            <p style="font-size: 2vh;">
                                Activism through non-profit organizations allow our society to get one step closer to environmental justice. We have provided a list of non-profit organizations that
                                are fighting environmental injustice for you here. Please join, support, or donate to these organizations in order to create cleaner, healthier
                                neighborhoods both here in Atlanta and in cities across the country. The link below also contains some other great links to
                                environmental organizations based in Georgia.
                            </p>
                            <a class="btn btn-lg btn-secondary" style="font-size: 1.75vh;" href="http://www.eco-usa.net/orgs/ga.shtml" target="_blank">Find More Orgs</a>
                            <a id="start" class="btn btn-lg btn-secondary blank" style="font-size: 1.75vh;">Keep Scrolling</a>
                        </div>
                        <div class="col-6" style="height: 100vh;">
                            <div class="row justify-content-center">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators" style="padding-bottom: 20vh;">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                    </ol>
                                    <center>
                                    <div class="carousel-inner" style="padding-bottom: 25vh;">
                                        <div class="carousel-item active">
                                            <div class="card" style="width: 40vh; height: 30vh; border: white solid 2px;">
                                                <div class="card-body" style="padding-bottom: 20vh;">
                                                    <h5 class="card-title" style="font-size: 1.75vh; margin-bottom: 7px;">1) GreenLaw</h5>
                                                    <div class="card-text" style="font-size: 1.25vh; text-align: left; ">
                                                        <ul style="font-size: 1.25vh; text-align: left;">
                                                            <li>provides free legal/technical support to environmental groups and organizations throughout Georgia</li>
                                                            <li>ensures that the environmental groups in Georgia are able to push forth progressive policies</li>
                                                        </ul>
                                                    </div>
                                                    <a href="https://greenlaw.org/" class="btn btn-primary" target="_blank" style="font-size: 1.5vh;">Act Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card" style="width: 40vh; height: 30vh; border: white solid 2px;">
                                                <div class="card-body" style="padding-bottom: 20vh;">
                                                    <h5 class="card-title" style="font-size: 1.75vh;">2) Georgia Conservancy</h5>
                                                    <div class="card-text" style="font-size: 1.25vh; text-align: left;">
                                                        <ul style="font-size: 1.25vh; text-align: left;">
                                                            <li>
                                                                dedicated to protecting Atlanta’s environment and natural resources
                                                            </li>
                                                            <li>
                                                                If you or someone you know owns a company in Georgia, they can also become a partner with Georgia Conservancy
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="https://www.georgiaconservancy.org/" class="btn btn-primary" target="_blank" style="font-size: 1.5vh;">Act
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card" style="width: 40vh; height: 32vh; border: white solid 2px;">
                                                <div class="card-body" style="padding-bottom: 20vh;">
                                                    <h5 class="card-title" style="font-size: 1.75vh; margin-bottom: 7px;">3) West Atlanta Watershed Alliance</h5>
                                                    <div class="card-text" style="font-size: 1.25vh; text-align: left;">
                                                        <ul style="font-size: 1.25vh; text-align: left;">
                                                            <li>
                                                                based in metro-Atlanta that is dedicated to cleaning the watersheds of the Chattahoochee River
                                                            </li>
                                                            <li>WAWA works to fight environmental injustice, protect greenspace and water quality and educate the residents of
                                                                Atlanta
                                                                on important environmental issues
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="http://wawa-online.org/" class="btn btn-primary" target="_blank" style="font-size: 1.5vh;">Act
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card" style="width: 40vh; height: 32vh; border: white solid 2px;">
                                                <div class="card-body" style="padding-bottom: 20vh;">
                                                    <h5 class="card-title" style="font-size: 1.75vh; margin-bottom: 7px;">4) Dream Corps</h5>
                                                    <div class="card-text" style="font-size: 1.25vh; text-align: left;">
                                                        <ul style="font-size: 1.25vh; text-align: left;">
                                                            <li>supports environmental, economic, and racial justice movements to create solutions to poverty and pollution</li>
                                                            <li>uplift the voices of people of color and low-income families through policy work to go towards a better, cleaner
                                                                economy
                                                            </li>
                                                            <li>
                                                                works with neighborhood activists, national organizations, hip hop artists ...
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="https://www.thedreamcorps.org/our-programs/green-for-all/" class="btn btn-primary" target="_blank" style="font-size: 1.5vh;">Act
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card" style="width: 40vh; height: 32vh; border: white solid 2px;">
                                                <div class="card-body" style="padding-bottom: 20vh;">
                                                    <h5 class="card-title" style="font-size: 1.75vh; margin-bottom: 7px;">5) NAACP</h5>
                                                    <div class="card-text" style="font-size: 1.25vh; text-align: left;">
                                                        <ul style="font-size: 1.25vh; text-align: left;">
                                                            <li>started an environmental and climate justice program to address the issues that disparagingly impact communities of
                                                            color and low-income areas</li>
                                                            <li>three main goals include reducing harmful emissions, advance clean energy, and strengthen community resilience and
                                                            livability
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="https://www.naacp.org/environmental-climate-justice-about/" class="btn btn-primary" target="_blank" style="font-size: 1.5vh;">Act
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <div class="card" style="width: 40vh; height: 32vh; border: white solid 2px;">
                                                <div class="card-body" style="padding-bottom: 20vh;">
                                                    <h5 class="card-title" style="font-size: 1.75vh; margin-bottom: 7px;">6) EarthJustice</h5>
                                                    <div class="card-text" style="font-size: 1.25vh; text-align: left;">
                                                        <ul style="font-size: 1.25vh; text-align: left;">
                                                            <li>non-profit organization of lawyers fighting to combat environmental injustice</li>
                                                            <li>lawyers and court fees are expensive, and we need to be able to implement the policies necessary to enact change for
                                                            communities suffering from environmental injustice
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <a href="https://earthjustice.org/welcome?utm_expid=.LmV7TQLVRmagEU8zM2NAGw.1&utm_referrer=" class="btn btn-primary" target="_blank" style="font-size: 1.5vh;">Act
                                                        Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </center>
                                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"
                                        style="padding-bottom: 25vh; width: auto; margin-left: 10vh;">
                                        <span class="carousel-control-prev-icon" aria-hidden="true" style="height: 4vh;"></span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"
                                        style="padding-bottom: 25vh; width: auto; margin-right: 10vh;">
                                        <span class="carousel-control-next-icon" aria-hidden="true" style="height: 4vh;"></span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="section">
                <div class="container-fluid" style="height: 80%; padding-top: 5vh;">
                    <div class="row h-100">
                        <div class="col-1">
                        </div>
                        <div class="col-5" style="text-align: left;">
                            <h1 class="cover-heading" style="font-size: 7vh;"><b>Through Social Media</b></h1>
                            <p style="font-size: 2vh;">
                                Social media is a great way to raise awareness. This can be through activism posts, memes, or informative pieces. Use
                                #ATLEnvJustice to let your friends and peers know that there is an issue and action needs to be taken.
                            </p>
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-2" style="padding-top: 5vh;">
                            <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram imghr" style="font-size:7vh;color:white; padding-bottom: 2vh; margin-left: 0; "></i></a>
                            </br>
                            <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook-square imghr" style="font-size:7vh;color:white;padding-bottom: 2vh;margin-left: 0;"></i></a>
                            </br>
                            <a href="https://twitter.com/home?lang=en" target="_blank"><i class="fab fa-twitter-square imghr" style="font-size:7vh;color:white;padding-bottom: 2vh;margin-left: 0;"></i></a>
                        </div>
                        <div class="col-2">
                        </div>
                    </div>

                </div>
            </div>
        </div> 
    </div>

    <!-- <footer class="footer mastfoot mt-auto">
        <div class=" inner">
            <p>Created by <a href="https://github.com/MihirBafna">Mihir Bafna</a> | <a
                    href="https://github.com/brettpietruszka">Brett Pietruszka</a> </p>
        </div>
    </footer> -->
</div>
<script src="../static/js/solutions.js"></script>

{% endblock %}